.vscode
*.pyc
*.pth
__pycache__
checkpoints
result
runs
.ssh*
.rsyncignore
bak
*.zip
results
raw_data
processed_data

!checkpoints/
checkpoints/*

!checkpoints/errnet_naf_refiner_improved/
checkpoints/errnet_naf_refiner_improved/*
!checkpoints/errnet_naf_refiner_improved/naf_refiner_best.pt
!checkpoints/errnet_naf_refiner_improved/naf_refiner_latest.pt

!checkpoints/rdnet_naf_refiner_fair_voc_realtrain/
checkpoints/rdnet_naf_refiner_fair_voc_realtrain/*
!checkpoints/rdnet_naf_refiner_fair_voc_realtrain/best_psnr.pth
!checkpoints/rdnet_naf_refiner_fair_voc_realtrain/latest.pth

!checkpoints/rdnet_naf_confgate_fair_voc_realtrain/
checkpoints/rdnet_naf_confgate_fair_voc_realtrain/*
!checkpoints/rdnet_naf_confgate_fair_voc_realtrain/best_psnr.pth
!checkpoints/rdnet_naf_confgate_fair_voc_realtrain/latest.pth
